node_modules/
android/.gradle/
android/.gradle-user/
.wrapper-bootstrap/
android/**/build/
android/local.properties
android/app/src/main/assets/
android/release.properties
*.jks
*.keystore
*.p12
release/private/
